// colors
$black: #393836;
$dark-blue: #354452;
$light-blue: #6895ab;
$brown: #7b6059;
$light: rgb(242, 238, 238);

.black {
    color: $black;
}

.dark-blue {
    color: $dark-blue;
}

.light-blue {
    color: $light-blue;
}

.brown {
    color: $brown;
}

.light {
    color: $light;
}