@font-face {
	font-family: 'Shire-Worcestershire';
	src: url('../fonts/shire/ShireTypesPro-Worcestershire.eot');
	src: local('ShireTypesPro-Worcestershire'),
		url('../fonts/shire/ShireTypesPro-Worcestershire.eot?#iefix') format('embedded-opentype'),
		url('../fonts/shire/ShireTypesPro-Worcestershire.woff') format('woff'),
		url('../fonts/shire/ShireTypesPro-Worcestershire.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
    font-family: 'belomorie-script';
    src: url('../fonts/belomorie-script/belomorie-script.woff2') format('woff2'),
         url('../fonts/belomorie-script/belomorie-script.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

//
.serif {
    font-family: 'Alegreya', serif;
}

.sans {
    font-family: 'Alegreya Sans', sans-serif;
    font-weight: 400;
}

.bold {
    font-family: 'Alegreya Sans', sans-serif;
    font-weight: 800;
}

.belomorie {
    font-family: 'belomorie-script', helvetica neue, arial, sans-serif;
}

//
p {
    font-size: 1.5rem;
    line-height: 1.5;
    &.small {
        font-size: .8rem;
        opacity: .8;
    }
}

a {
    text-decoration: none;
    @extend .brown;
    border-bottom: 1px solid lighten($brown, 30%);
    &:hover {
        border-bottom: 1px solid inherit;
    }
    &[href^='#'] {
        border-bottom-style: dashed;
    }
    img {
        vertical-align: middle;
        border: none;
    }
}

h1 {
    @extend .belomorie;
    font-size: 3rem;
    padding: 0;
    margin: 0;
}

h2 {
    @extend .belomorie;
    font-size: 1.5rem;
    line-height: 1.35;
    font-weight: normal;
    padding: 0;
}

h3 {
    @extend .bold;
    @extend .black;
    @extend .center;
    font-size: 1.5rem;
    font-weight: normal;
    margin-top: .5em;
    padding: 0;
}

h4 {
    @extend .bold;
    @extend .brown;
    font-size: 1.5rem;
    font-weight: normal;
    margin: 1.5rem 0 0 .2rem;
    padding: 0;
    display: inline-block;
}

h5 {
    @extend .bold;
    @extend .brown;
    font-size: 1/rem;
    font-weight: normal;
    margin: 1.5rem 0 0 .2rem;
    padding: 0;
    display: inline-block;
}

ul {
    text-align: left;
    li {
        font-size: 2rem;
        line-height: 1.3;
        list-style-type: none;
        padding-bottom: 1.5rem;
        &::before {
            content: '— ';
            margin-left: -1.2em;
        }
        &.no-before {
            &::before {
                content: '';
                margin-left: -.32em;
            }
        }
    }
}

ol {
    text-align: left;
    list-style-position: outside;
    margin-left: -1rem;
    width: 100%;
    li {
        font-size: 1.5rem;
        line-height: 1.5;
        padding-bottom: 1.5rem;
        .title {
            @extend .bold;
            display: block;
            margin-bottom: .3rem;
        }
        .date {
            @extend .brown;
            @extend .bold;
            font-size: 1rem;
            display: block;
            margin: 0 0 .6rem;
        }
    }
}

//
strong {
    @extend .bold;
}

//
.quotes {
    &::before {
        content:'«';
    }
    &::after {
        content:'»';
        display: inline;
    }
}

.emdash {
    display: block;
    &::before {
        content: '— ';
        margin-left: -1.3em;
    }
}

.asterisk {
    display: inline-block;
    transform: translate(0, .4em);
}
