@import "/bower_components/normalize-css/normalize.css";
@import "color";
@import "fonts";
@import "shorthands";
@import "animations";
@import "interactive";
//
@import "header";
@import "index";
@import "footer";
//
html {
    background-color: white;
}

//
body {
    @extend .sans;
    min-height: 100%;
    font-size: 1em;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    color: $dark-blue;
    -webkit-font-smoothing: antialiased; //backface-visibility: hidden;
    //-webkit-text-size-adjust: 100%;
}

article {
    overflow: hidden;
    position: relative;
    height: 100vh;
    width: 100vw;
}

section {
    margin: 0 auto;
    position: relative;
}

///
